<div>
  <h2>本の投稿詳細</h2>
  <div>
    <div>
      <div class="form-group">
        <%= @book.title %>
      </div>
      <div class="form-group">
        <%= @book.body %>
      </div>
      <div class="form-group">
        <%= @book.genre.name %>
      </div>
      <div></div>
      <div></div>
      <div class="form-group">
        <%= link_to "戻る", admin_books_path, class: "btn btn-sm btn-success" %>
      </div>
    </div>
  </div>
</div>