<main>
  <div class="container my-5">
    <div class="row mt-4">
      <h1 class="px-3 offset-3">
        ようこそ
        <i class="fas fa-book"></i>
        <strong>ReviewBooks</strong>
         !
      </h1>
      <p class="offset-3 my-4">会員ではない一般の方でも閲覧できるようにしてありますので、</p>
      <p class="offset-3 my-4">興味がありましたら是非閲覧してみてください</p>
    </div>
  </div>
</main>
