<main>
  <div class="container">
    <div class="row">
      <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
        <h1 class="mt-3">
          ようこそ
          <i class="fas fa-book"></i>
          <strong>ReviewBooks</strong>
           !!
        </h1>
        <p class="mt-3">
          この
          <i class="fas fa-book"></i>
          <strong>review_books</strong>
          は
        </p>
        <p class="mt-3">本好きな方（会員）が本を自由に投稿し、感想や評価などができるサイトになっております</p>
        <p class="mt-3">また、他にもコメントを使ったランキングや、小説、ファンタジーなどのジャンル検索も充実しておりますので、</p>
        <p class="mt-3">気軽にお楽しみください</p>
      </div>
    </div>
  </div>
</main>

