<div class="col-md-3">
  <h2>会員情報</h2>
  <%= image_tag customer.get_profile_image(63, 63), class: "attachment customer profile_image fallback" %>
   <table class="table">
     <tbody>
       <tr></tr>
       <tr>
         <th>名前</th>
         <th><%= customer.name %></th>
       </tr>
       <tr>
         <th>自己紹介</th>
         <th><%= customer.introduction %></th>
       </tr>
     </tbody>
   </table>
   <div class="row">
     <%= link_to edit_customer_path(customer.id), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
     <% end %>
   </div>
</div>