<h2>ジャンル検索</h2>
<div class="container px-5 px-sm-0 my-5 ">
<% @search_genres.each do |search| %>
 <%= search.genre.name %>
 <%= search.title %>
<% end %>
  genres search for '<%= params[:word] %>
</div>
